@font-face {
	font-family: "Mochiy Pop P One";
	src: url(../fonts/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf);
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section {
	font-family: "Mochiy Pop P One";
}

.color-red {
	color: red;
}

.big-font {
	font-size: 2rem;
}

.mid-sized-font {
	font-size: 1.2rem;
}

.decently-large-font {
	font-size: 1.5rem;
}

.bold {
	font-weight: 700;
}

dd {
	margin-left: 2rem;
}

.strong-ruby {
	font-weight: 500;
}
	
.strong-ruby rt {
	font-weight: 400;
}

.margin-bottom-middle {
	margin-bottom: 1rem;
}

rt {
	-webkit-user-select: none;
	user-select: none;
	filter: brightness(50%);
}

small {
	font-size: 70%;
}

sup {
	vertical-align: super;
}

.container {
	padding: 0 30px;
	width: 100rem;
	margin: 0 auto;
}

